MONGO_USER=admin
MONGO_PASSWORD=securepassword
MONERO_RPC_URL=http://monero:18081
MONERO_RPC_USERNAME=monero_user
MONERO_RPC_PASSWORD=monero_pass
MONERO_NETWORK=mainnet
JWT_SECRET=your_jwt_secret_key
API_KEY=your_api_key
